.blackBoxInfo{
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}
.infoField{
  color: #828282;
  margin-bottom: 5px;
  font-size: 12px;
}
.blackInfo{
  font-size: 14px;
}
.place{
  height: 15px;
}
