
.modalContentText{
  margin-bottom: 15px;
  font-size: 12px;
  color: #666;
}

.emailInput{
  display: flex;
  justify-content: space-between;
}


.fieldLabel{
  font-size: 12px;
  margin-bottom: 5px;
}

.atInnopolis{
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 2px;
}



.emailContainer{
  margin-bottom: 23px;
}
